<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
	<br>
	<h1> Welcome to Weather App! </h1>
	<br>
	<div class="row">
		<div class="col-md-2"><weather city="Istanbul"></weather></div>
		<div class="col-md-2"><weather city="Berlin"></weather></div>
		<div class="col-md-2"><weather city="London"></weather></div>
		<div class="col-md-2"><weather city="Helsinki"></weather></div>
		<div class="col-md-2"><weather city="Dublin"></weather></div>
		<div class="col-md-2"><weather city="Vancouver"></weather></div>
	</div>
</div>